<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link th:href="@{/styles/index.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/comapply.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/css.css}" rel="stylesheet" type="text/css"/>
    <title>人事 - 面议 - 小蛙科技 - 人才招聘系统</title>
</head>

<body class="comapply_bg">
<div class="yun_new_top" th:insert="~{/commons/top}"></div>
<div class="yunheader_60" th:insert="~{/commons/header}"></div>
<div class="clear"></div>
<!--新职位详细-->
<div class="job_details_top">
    <div class="w1200">
        <div class="job_details_current">您当前的位置： <a href="">首页</a> > <a href="">职位列表</a> > 职位详情</div>
        <div class="job_details_topbox">
            <div class="job_details_topright_data">
                <span class="job_details_topright_data_time">昨天 更新</span>被浏览：1次
            </div>
            <div class="com_newjobshow_all">
                <div class="com_newjobshow">
                    <div class="job_details_topleft">
                        <h1 class="job_details_name">人事</h1>
                        <span class="showtg_icon showzt"> </span>
                    </div>
                    <div class="job_details_salary_n">面议</div>
                    <div class="job_details_info">
                        江苏
                        · 宿迁 · 沭阳县 · 不限经验
                        · 不限1学历
                        · 可接受应届生
                    </div>

                </div>
                <div class="job_details_topright etailStopOperShouc">
                    <div class="job_details_top_operation" style="padding: 10px 0px 0 0;">
                        <a href="javascript:void(0);" id="favjobid14"
                           class="job_details_top_operation_sc">
                            <img th:src="@{/images/sc_icon.png}" alt="">
                            <span>收藏</span>
                        </a>
                        <a class="sq_job job_details_top_operation_sq">投递简历</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="w1200">
    <div class="job_details_left">
        <!--引导视频面试-->
        <div class="job_details_left_box">
            <div class="job_details_tit "><span class="job_details_tit_s">职位描述</span><i
                    class="job_details_tit_line"></i>
                <div class="job_details_top_extension">
                    <div class="job_details_top_extension_zl ">
                        <a href="javascript:void(0)" class="job_details_top_extension_jb"
                           rel="nofollow">举报</a>
                    </div>
                    <div class="job_details_top_extension_zl">
                        <a href="javascript:void(0);" class="job_details_top_extension_xcx"
                           rel="nofollow">小程序</a>
                        <div class="comapply_sq_r_cy none" id="getxcxurl">
                            <div class="comapply_sq_r_cont">
                                <div class="comapply_sq_r_tipa">微信小程序</div>
                                <img src="" width="130" height="130"/>
                                <div class="comapply_sq_r_tipsm">
                                    ↑微信扫上方二维码↑<br>即可在微信小程序内查看并分享
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="job_details_top_extension_zl">
                        <a href="javascript:void(0);" class="job_details_top_extension_fx"
                           rel="nofollow">微信扫码分享</a>
                        <div class="comapply_sq_r_cy none" id="getwapurl">
                            <div class="comapply_sq_r_cont">
                                <div class="comapply_sq_r_tipa">微信扫一扫：分享</div>
                                <img src="" width="130" height="130"/>
                                <div class="comapply_sq_r_tipsm">
                                    ↑微信扫上方二维码↑<br>便可将本文分享至朋友圈
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="job_details_welfare ">
                <span class="job_details_welfare_n ">周末双休</span>
                <span class="job_details_welfare_n ">绩效奖金</span>
                <span class="job_details_welfare_n ">五险一金</span>
                <span class="job_details_welfare_n ">综合补贴</span>
                <span class="job_details_welfare_n ">年终奖金</span>
                <span class="job_details_welfare_n ">定期团建</span>
                <span class="job_details_welfare_n ">员工旅游</span>
                <span class="job_details_welfare_n ">节日福利</span>
            </div>
            <div class="job_details_describe">
                <ul class="com_job_yq">
                    <li><span class="job_details_describe_yq">招聘人数：1 人</span></li>
                    <li><span class="job_details_describe_yq">到岗时间：1个月之内</span></li>
                    <li>	 <span class="job_details_describe_yq">
                                                适合女性
                                            </span>
                    </li>
                    <li><span class="job_details_describe_yq">婚况要求：已婚</span></li>
                </ul>

                <div class="">
                    <p>负责公司人员考勤、人事管理等工作<br/></p>
                </div>
                <div class="job_details_touch_tel_say">联系我时就说是在 <span class="job_details_touch_tel_say_wz">人才招聘系统</span>
                    上看到的
                </div>
                <div class="job_details_tit " style="margin-top:15px;"><span
                        class="job_details_tit_s">职位发布者</span><i class="job_details_tit_line"></i></div>
                <div class="job_details_touch">
                    <div class="job_details_user">
                        <div class="job_details_userpic"><img src=""/></div>
                        <div>
                            <span class="job_details_touch_username">王经理</span>
                            <a class="job_details_touch_userchat" href="javascript:void(0);">立即沟通</a>
                        </div>
                        <div class="job_details_touch_userlogintime">最近在线时间：2025-06-12 13:06</div>
                        <div class="job_details_touch_userdata">
                            <div class="job_details_touch_userdata_list"><span
                                    class="job_details_touch_userdata_n">3份</span>简历投递
                            </div>
                            <div class="job_details_touch_userdata_list"><i
                                    class=" job_details_touch_userdata_list_line"></i><span
                                    class="job_details_touch_userdata_n">33%</span>平均回复率
                            </div>
                            <div class="job_details_touch_userdata_list"><i
                                    class=" job_details_touch_userdata_list_line"></i><span
                                    class="job_details_touch_userdata_n">31天</span>平均回复时长
                            </div>
                        </div>
                    </div>
                    <div class="tel_show">
                        <div class="job_details_touch_tel">
                            电话：<span class="job_details_touch_tel_n">181****3343</span>
                            <em class="job_details_touch_tel_tip">企业已设置投递简历才能查看联系方式</em>
                            <a href="javascript:;" class="job_details_touch_tel_bth sq_job">投递简历</a>
                        </div>
                        <span class="job_details_touch_add">地址：迎宾大道软件园 <a
                                href=""
                                class="job_details_touch_add_a" rel="nofollow">查看上班地址</a></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="yun_jobshowtip">
            <div class="yun_jobshowtip_tit"> 人才招聘系统安全提示</div>
            <div class="job_details_cont"> 用人单位以培训费等为名收费是违法的，提高警惕，谨防传销与诈骗
                ，如遇无效、虚假、诈骗信息，请立即举报，我们将及时处理
            </div>

        </div>
        <div class="clear"></div>
        <div class="job_details_left_box">
            <div class="job_details_tit">
                <span class="job_details_tit_s">该公司的其他职位</span>
                <i class="job_details_tit_line"></i>
            </div>
            <div class="job_details_com_otherjob">
                <ul>
                    <li>
                        <div class="job_details_com_otherjob_l">
                            <div class="job_details_com_otherjob_name">
                                <a href="" target="_blank" title="架构师">架构师</a>
                            </div>
                            <div class="job_details_com_otherjob_info">
                                不限经验<span class="job_details_line">|</span>不限1学历
                            </div>
                        </div>
                        <div class="job_details_com_otherjob_c">
                            <div class="job_details_com_otherjob_xz">面议</div>
                            <div class="job_details_com_otherjob_city">江苏 - 宿迁</div>
                        </div>
                        <div class="job_details_com_otherjob_r">
                            <div class="job_details_com_otherjob_time">
                                <span style="color:red;">昨天</span>
                            </div>
                            <a href="" target="_blank"
                               class="job_details_com_otherjob_sq">申请</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="job_details_left_box">
            <div class="job_details_tit">
                <span class="job_details_tit_s">您可能感兴趣的职位</span>
                <i class="job_details_tit_line"></i>
                <a href="" class="job_details_more">搜索更多相似职位 ></a>
            </div>
            <div class="job_details_like">
                <ul>
                    <li>
                        <div class="job_details_likejobname">
                            <a href="" title="人力资源">人力资源</a></div>
                        <div class="job_details_likejobxz">面议</div>
                        <div class="job_details_likecomname">
                            <a href="" title="久宝">久宝</a>
                        </div>
                        <a href="" class="job_details_likesq">申请</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="job_details_right">
        <div class="Compply_right_qy">
            <div class="Compply_logo">
                <img src="" alt="小蛙科技"/>
            </div>
            <div class="Compply_right_name">
                <a href="" target="_blank" class="">小蛙科技</a>
            </div>
            <div class="job_details_cominfo_tb">
                <span class="Compply_mqicon" title="名企"></span> <i
                    class="job_details_cominfo_rz job_details_cominfo_rz_zz" title="执照认证"></i>
                <i class="job_details_cominfo_rz job_details_cominfo_rz_sj" title="手机认证"></i>
            </div>
            <div class="clear"></div>
            <div class="Compply_right_js">
                <ul>
                    <li><span class="Compply_right_span_c"><i class="Compply_right_icon Compply_right_icon_hy"></i>计算机/互联网</span>
                    </li>
                    <li><span class="Compply_right_span_c"><i class="Compply_right_icon Compply_right_icon_xz"></i>民营企业</span>
                    </li>
                    <li><span class="Compply_right_span_c"><i class="Compply_right_icon Compply_right_icon_rs"></i>10-50人</span>
                    </li>
                    <li><span class="Compply_right_span_c"><i class="Compply_right_icon Compply_right_icon_zj"></i>1000万</span>
                    </li>
                </ul>
            </div>
            <div class="job_details_cominfo_p">
                <div class="job_details_cominfo_p_b">
                    <div class="Company_Profile" style="padding-bottom: 0px;">
                        <div style="width: 100%; height: auto; overflow: hidden" id="job_content"><p>
                            小蛙科技有限公司</p></div>
                    </div>
                </div>
            </div>
            <div class="job_details_cominfo_more_bth">
                <a href="" target="_blank" class="job_details_cominfo_more">公司主页 ></a>
            </div>
        </div>

        <a href="javascript:void(0);" class="new_com_haibao">
            <div class="new_com_haibao_c">
                <div class="new_com_haibao_name">生成职位海报</div>
                <div class="new_com_haibao_p">分享到朋友圈</div>
            </div>
        </a>

        <div class="job_details_right_box">
            <div class="job_details_tit"><span class="job_details_tit_s">竞争力分析</span><i
                    class="job_details_tit_line"></i></div>
            <div class="usercompetitive_power_sjt"></div>
            <div class="usercompetitive_power_loobthpg">综合竞争力评估</div>
            <div class="usercompetitive_power_loobthbox">
                <a href="javascript:void(0)" class="usercompetitive_power_loobth">查看我的竞争力</a>
            </div>
        </div>
        <div class="job_details_right_box">
            <div class="job_details_tit"><span class="job_details_tit_s">问公司</span><i
                    class="job_details_tit_line"></i></div>
            <div class="job_details_comask_p">对职位有疑问？快来问问吧</div>
            <div class="job_details_comask_bth"><a href="javascript:;" class="job_details_comask_bth_a">我要提问</a>
            </div>
        </div>
    </div>
</div>
<!--新职位详细 end-->
<!------职位收藏成功----->
<div id="favjob" style="display:none">
    <div class="job_prompt_box">
        <div class="job_prompt_box_pic"><i class="job_prompt_box_pic_icon"></i></div>
        <div class="job_prompt_box_writing"> 职位收藏成功</div>
        <div class="job_prompt_box_p"> 您可以在<a href="" class="job_prompt_box_look">职位收藏夹</a>中查看</div>
        <div class="job_prompt_box_ok">
            <a href="javascript:void(0)" class="job_prompt_box_ok_bth">知道了</a>
        </div>
    </div>
</div>
<!------职位申请成功----->
<div id="suc_job" style="display:none">
    <div class="job_prompt_box">
        <div class="job_prompt_box_pic"><i class="job_prompt_box_pic_icon"></i></div>
        <div class="job_prompt_box_writing"> 投递成功</div>
        <div class="job_prompt_box_p"> 恭喜您简历投递成功，请耐心等待企业回复</div>
        <div class="job_prompt_box_maylike">您可能感兴趣的职位：</div>
        <div class="clear"></div>
        <ul class="job_prompt_box_maylike_list">
            <li>
                <div class="job_prompt_box_maylike_name">
                    <a href="">会计</a>
                </div>
                <div class="job_prompt_box_maylike_xz">7000-15000元</div>
                <div class="job_prompt_box_maylike_comname">小蛙</div>
                <a href="" class="job_prompt_box_maylike_sq">申请</a>
            </li>
            <li>
                <div class="job_prompt_box_maylike_name">
                    <a href="">前台</a>
                </div>
                <div class="job_prompt_box_maylike_xz">面议</div>
                <div class="job_prompt_box_maylike_comname">小蛙</div>
                <a href="" class="job_prompt_box_maylike_sq">申请</a>
            </li>
        </ul>
        <div class="clear"></div>
        <div class="job_prompt_box_ok">
            <a href="" class="job_prompt_box_ok_bth job_prompt_box_ok_bthw170">查看更多职位</a>
        </div>
    </div>
</div>
<div class="hp_foot fl" th:insert="~{/commons/footer}"></div>

</body>
</html>