<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link th:href="@{/styles/resume.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/comapply.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/css.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/styles/tips.css}" rel="stylesheet" type="text/css"/>
    <title>老谭-【老谭的简历】</title>
</head>

<body style="background:#fff;">
<div class="noprint">
    <div class="hp_head hp_head_box">
        <div class="w1200">
            <div class="hp_head_ft fl">
                <div class="phpyun_logo fl">
                    <a th:href="@{/}" title="人才招聘系统最新招聘求职信息">
                        <img th:src="@{/images/logo.png}" alt="人才招聘系统"/>
                    </a>
                </div>
            </div>
            <div class="yun_header_nav_box">
                <ul>
                    <li class="">
                        <a href="" class="png"> 首页 </a>
                        <i class="yun_new_headernav_list_line"></i>
                    </li>
                    <li class="">
                        <a href="" class="png"> 找工作 </a>
                        <i class="yun_new_headernav_list_line"></i>
                    </li>
                    <li class="">
                        <a href="" class="png"> 找人才 </a>
                        <i class="yun_new_headernav_list_line"></i>
                    </li>
                    <li class="">
                        <a href="" class="png"> 找企业 </a>
                        <i class="yun_new_headernav_list_line"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="yun_newedition_resume_top">
    <div class="w1200" style="">
        <div class="yun_newedition_resume_current"> 首页 > 找人才 > 简历详细</div>
        <div class="yun_newedition_resume_info" style="">
            <div class="yun_newedition_resume_info_c">
                <div class="yun_newedition_resume_info_pic">
                    <img src="" width="140" height="140"/>
                    <i class="resume_list_xb resume_list_xb "></i>
                </div>
                <div>
        				<span class="yun_newedition_resume_username">
        					  老谭
        				</span>
                </div>
                <div class="yun_newedition_resume_basic">
                    男<span class="yun_newedition_resume_line">|</span>
                    45岁<span class="yun_newedition_resume_line">|</span> 6年以上经验 <span
                        class="yun_newedition_resume_line">|</span>
                    本科学历
                    <span class="yun_newedition_resume_line">|</span> 现居成都
                </div>
                <div class="yun_newedition_resume_data">
                    <span class="yun_newedition_resume_data_time">更新：2025-06-11</span>
                    被浏览：12 次
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w1200" style="">
    <div class="yun_newedition_resume_cont" style="">
        <div class="yun_newedition_resume_left" style="">
            <div class="yun_newedition_tit"><span class="yun_newedition_tit_s">求职意向</span><i
                    class="yun_newedition_tit_line"></i></div>
            <div class="">
                <ul class="yun_newedition_yx_list">
                    <li style="width:100%">
                        <span class="yun_newedition_yx_name"> 工作职能：</span>
                        <span class="yun_newedition_yx_job">测试</span>
                    </li>
                    <li><span class="yun_newedition_yx_name"> 意向岗位：</span>软件测试</li>
                    <li><span class="yun_newedition_yx_name"> 从事行业：</span>不限</li>
                    <li><span class="yun_newedition_yx_name"> 期望薪资：</span>6000-7000元</li>
                    <li><span class="yun_newedition_yx_name"> 到岗时间：</span>随时到岗</li>
                    <li><span class="yun_newedition_yx_name"> 求职状态：</span>已离职，寻求新工作</li>
                    <li><span class="yun_newedition_yx_name"> 工作性质：</span>全职</li>
                    <li style="width:100%"><span class="yun_newedition_yx_name"> 工作地点：</span> 成都&nbsp;</li>
                </ul>
            </div>

            <div class="yun_newedition_exhibition">
                <div class="yun_newedition_tit">
                    <span class="yun_newedition_tit_s">联系方式</span>
                    <i class="yun_newedition_tit_line"></i>
                </div>
                <div class="tcktouch_box_tip">联系我时请说是在千里马人才招聘系统上看到的</div>
                <div class="tcktouch_box_p">手机：<span class="tcktouch_box_p_sj">15982352915</span></div>
            </div>
            <!--工作经历-->
            <div class="yun_newedition_exhibition">
                <div class="yun_newedition_tit">
                    <span class="yun_newedition_tit_s">工作经历</span>
                    <i class="yun_newedition_tit_line"></i>
                    <span class="yun_resume_jobtime" style="margin-left:20px;">平均工作时长：4年2个月</span>
                </div>
                <ul class="yun_newedition_joblist">
                    <li><i class="yun_newedition_icon"></i>
                        <div class="yun_newedition_jobname">成都蜗牛创想职业技能培训学校有限公司<span
                                class="yun_newedition_job_zw">担任职位：Java讲师</span></div>
                        <div class="">工作时间：2021.06- 至今 <span style="color: red;">【4年2个月】</span></div>
                    </li>
                    <li><i class="yun_newedition_icon"></i>
                        <div class="yun_newedition_jobname">成都蜗牛创想职业技能培训学校有限公司<span
                                class="yun_newedition_job_zw">担任职位：Java讲师</span></div>
                        <div class="">工作时间：2021.06- 至今 <span style="color: red;">【4年2个月】</span></div>
                    </li>
                </ul>
            </div>
            <!--教育经历-->
            <div class="yun_newedition_exhibition">
                <div class="yun_newedition_tit">
                    <span class="yun_newedition_tit_s">教育经历</span>
                    <i class="yun_newedition_tit_line"></i>
                </div>
                <ul class="yun_newedition_joblist">
                    <li>
                        <i class="yun_newedition_icon"></i>
                        <div class="yun_newedition_jobname">北京工商大学 <span
                                class="yun_newedition_job_zw">学历学位：本科</span>
                        </div>
                        <div class="">在校时间：2007.06-2010.07</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="yun_newedition_resume_right">
            <div class=" noprint">
                <div class="yun_resume_cz " style="padding:0px;border:none; background:none">
                    <a href="" class="yun_resume_cz_xg">修改简历</a>
                    <input class="yun_resume_cz_bc yun_resume_cz_bth_xz fl " type="submit" name="submit"
                           value="保存到电脑 "/>
                    <div class="mt10">
                        <div class="yun_resume_cz_gz">如需手机上传或修改个人形象照，请关注微信进行操作</div>
                    </div>
                </div>
                <div class="yun_resume_czewm">
                    <div class="yun_resume_czewmpic"><img src="" width="150" height="150"></div>
                    <div class="yun_resume_cz_tit">扫一扫手机上也可以编辑简历了</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<!-- 联系方式弹出框 -->
<div style="width:450px; display:none" id='link_style_div'>
    <div class="tcktouch_box">
        <div class="tcktouch_box_username">老谭</div>
        <div class="tcktouch_box_tip">联系我时请说是在千里马人才招聘系统上看到的</div>
        <div class="tcktouch_box_p">手机：<span class="tcktouch_box_p_sj">15982352915</span></div>
    </div>
</div>

<div class="hp_foot fl" th:insert="~{/commons/footer}"></div>
</body>
</html>
	