<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>人才招聘系统-注册</title>
    <link rel="stylesheet" th:href="@{/styles/m_css.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/styles/tips.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}" type="text/css"/>
    <script th:src="@{/js/layui/layui.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/http.js}"></script>
</head>
<body>
<div class="user_header" th:insert="~{/commons/resume_header}"></div>
<div class="clear"></div>
<!--弹出框-->
<!--职位类别start-->
<div class="sPopupDiv none" id="jobdiv" style="float:left;"></div>
<!--职位类别end-->
<!--工作地点start-->
<div class="sPopupDiv none" id="citydiv"></div>
<!--工作地点end-->
<!--行业类别start-->
<div class="sPopupDiv none" id="industrydiv"></div>
<!--行业类别end-->

<form action="" id="resumeForm" name="MyForm" method="post" target="expectiframe"
      autocomplete="off" class="layui-form">
    <div class="news_expect_body">
        <div class="news_expect">
            <div class="news_expect_cont_h1">
                <div class="news_expect_cont_h1_box">
                    <span class="news_expect_cont_h1_s">您正在创建简历</span>
                    <div class="news_expect_cont_h1_p">简历是求职第一步，优质的简历才能更快找到满意工作！</div>
                </div>
                <div class="fill_in_process" style="width:710px;">
                    <span><i>1</i>求职意向<em>……</em></span>
                    <span id="worktype"><i>2</i>工作经历<em>……</em></span>
                    <span class="fill_add_color" id="edutype"><i>3</i>教育经历<em>……</em></span>
                    <span><i class="fill_add_color_cg"></i>填写成功</span>
                </div>
            </div>
            <!--教育经历start-->
            <div class="news_expect_content" id="edu"></div>
            <div class="news_expect_tit">
                <span class="news_expect_tit_s"><i class="news_expect_tit_yx_icon"></i>毕业院校</span>
            </div>
            <div id="addedu">
                <div class="news_expect_n_box">
                    <div class="news_expect_list">
                        <span class="news_expect_list_span"><i class="news_expectfont">*</i>学校名称：</span>
                        <div class="news_expect_list_rbox">
                            <input type="text" value="" name="eduname" id="eduname" class="news_expect_text_t1"
                                   placeholder="请填写学校名称"/>
                            <span class="news_expect_name"></span>
                            <div class="resume_tip"><span class="none" id="hideduname"></span></div>
                        </div>
                    </div>

                    <div class="news_expect_list news_expect_listw100">
                        <span class="news_expect_list_span"><i class="news_expectfont">*</i>在校时间：</span>
                        <div class="news_expect_list_rbox">
                            <!-- 入校时间 -->
                            <input name="edusdate" id="edusdate" type="date" value=""
                                   class="news_expectadd_text date-input" placeholder="入校时间">

                            <span class="news_expect_text_xzline">-</span>

                            <!-- 毕业时间 -->
                            <input name="eduedate" id="eduedate" type="date" value=""
                                   class="news_expectadd_text date-input" placeholder="毕业时间">

                            <div class="resume_tip"><span class="none" id="hidedusdate"></span></div>
                        </div>
                    </div>
                    <div class="news_expect_list news_expect_w1000">
                        <span class="news_expect_list_span"><i class="news_expectfont">*</i>最高学历：</span>
                        <div class="news_expect_text_big">
                            <div class="layui-form-item">
                                <div class="layui-input-inline" style="width:330px;">
                                    <select name="education[]" lay-filter="" id="education">
                                        <option value="1">高中以下</option>
                                        <option value="2">高中</option>
                                        <option value="3">中专</option>
                                        <option value="4">大专</option>
                                        <option value="5">本科</option>
                                        <option value="6">硕士</option>
                                        <option value="7">博士</option>
                                    </select>
                                </div>
                            </div>
                            <div class="resume_tip"><span class="none" id="hideducation"></span></div>
                        </div>
                    </div>
                    <div class="news_expect_list news_expect_w1000">
                        <span class="news_expect_list_span">所学专业：</span>
                        <div class="news_expect_list_rbox">
                            <input type="text" value="" name="eduspec" id="eduspec" class="news_expect_text_t1"
                                   placeholder="请填写所学专业"/>
                            <span class="news_expect_name"></span>
                            <div class="resume_tip"><span class="none" id="hideduspec"></span></div>
                        </div>
                    </div>

                    <div class="wsexpect_tip"> 企业需要了解您的教育经历，请认真填写！您可添加多个教育经历~
                        <div class="wsexpect_tip_bth"><a href="javascript:;" onclick="addEdu();"
                                                         class="wsexpect_tip_tj">+ 添加教育经历</a></div>
                    </div>
                </div>
            </div>
            <div class="news_expect_fotbox">
                <div class="news_expect_nbth">

                    <input type="button" class="news_expect_list_sub" value="保存" id="savebtn" name="submit">
                    <input type="button" class="layui-btn layui-btn-primary" value="返回上一步" name="submit"
                           style="margin-left:20px">
                </div>
            </div>
        </div>
    </div>
</form>
<div class="clear"></div>
<div class=foot th:insert="~{commons/resume_footer}">
</div>
<script>
    layui.use(['layer', 'form', 'laydate'], function () {
    })
    $(function () {
        $("#savebtn").click(() => {
            let b = collectAndValidateEducation();
            if(b){
                postAjaxJsonHttpRequest('/resume/resume/addresume',localStorage.getItem("resumeDTO"),localStorage.getItem("token"),function (res) {
                    let data = JSON.parse(localStorage.getItem("WorkDTO"))
                    data.resumeId=res.data
                    let data1 = JSON.parse(localStorage.getItem("EduDTO"))
                    data1.resumeId=res.data
                    if(res.code!=200){
                        alert(res.msg==null?"添加简历失败":res.msg)
                        return ;
                    }
                    // localStorage.setItem("resumeid",JSON.stringify(res.data))
                    postAjaxJsonHttpRequest('/resume/resume/addwork',JSON.stringify(data),localStorage.getItem("token"),function (res) {
                        if(res.code!=200)alert(res.msg==null?"添加工作经历失败":res.msg)

                    })
                    postAjaxJsonHttpRequest('/resume/resume/addedu',JSON.stringify(data1),localStorage.getItem("token"),function (res) {
                        if(res.code!=200)alert(res.msg?"添加教育经历失败":res.msg)
                    })
                location.href = `/resume/addsuc?id=${res.data}`
            })
            }

        })

    })
    function addEdu(){
        $("#addedu").append(function(){
            var randnum='e'+parseInt(Math.random()*1000);
            var html="";
            html	+="<div id='"+randnum+"' class='news_expect_n_box'><div class='news_expect_list'><span class='news_expect_list_span'><i class='news_expectfont'>*</i>学校名称：</span><div class='news_expect_list_rbox'><input type='text' value='' name='eduname[]' id='eduname"+randnum+"' class='news_expect_text_t1' onBlur=\"checkonblur('eduname"+randnum+"','rand');\" placeholder='请填写学校名称'/><span class='news_expect_name'></span><div class='resume_tip'><span class='none' id='hideduname"+randnum+"'></span></div></div><i class='yun_resume_popup_del showedunum news_expect_listqx' id='"+randnum+"' onclick=\"deletebox('"+randnum+"')\">删除</i></div>";
            html	+="<div class='news_expect_list news_expect_w1000'><span class='news_expect_list_span'><i class='news_expectfont'>*</i>在校时间：</span><div class='news_expect_list_rbox'><input name='edusdate[]' id='edusdate"+randnum+"' type='text' value='' onfocus=\"showblurmsg('edusdate"+randnum+"',1,'')\" class='news_expectadd_text'placeholder='请选择入校时间' /><span class='news_expect_text_xzline'>-</span><input name='eduedate[]' id='eduedate"+randnum+"' onfocus=\"showblurmsg('eduedate"+randnum+"',1,'')\" type='text' value=''placeholder='请选择毕业时间' class='news_expectadd_text' /><span class='news_expect_name'></span><div class='resume_tip resume_tipw160'><span class='none' id='hidedusdate"+randnum+"'></span></div></div></div><script>layui.use(['laydate'], function(){var laydate = layui.laydate;monthclick(laydate,'#edusdate"+randnum+"');monthclick(laydate,'#eduedate"+randnum+"');});<\/script>";
            html	+="<div class='news_expect_list'><span class='news_expect_list_span'><i class='news_expectfont'>*</i>最高学历：</span><div class='news_expect_text_big'><div class='layui-form-item'><div class='layui-input-inline' style='width:330px;'><select name='education[]' lay-filter='' id='education"+randnum+"'><option value=''>请选择学历</option><option value='9'>高中以下</option><option value='12'>高中</option><option value='13'>中专</option><option value='14'>大专</option><option value='15'>本科</option><option value='16'>硕士</option><option value='17'>博士</option></select></div></div><div class='resume_tip'><span class='none' id='hideducation"+randnum+"'></span></div></div></div>";
            html	+="<div class='news_expect_list news_expect_w1000'><span class='news_expect_list_span'>所学专业：</span><div class='news_expect_list_rbox'><input type='text' value='' name='eduspec[]' id='eduspec"+randnum+"' class='news_expect_text_t1' onBlur=\"checkonblur('eduspec"+randnum+"','rand');\" placeholder='请填写所学专业'/><span class='news_expect_name'></span><div class='resume_tip'><span class='none' id='hideduspec"+randnum+"'></span></div></div>	</div></div>";
            return html;
        });

        layui.use(['form'], function(){
            layui.form.render();
        });
    }
    function deletebox(id,type){
        $("#"+id).remove();
    }

    function validateEducation(formData) {
        // 1. 非空校验
        const requiredFields = [
            'school', 'startDate', 'graduateDate'
        ];

        for (const field of requiredFields) {
            if (!formData[field]) {
                showError(field, '此项为必填项');
                return false;
            }
        }

        // 2. 日期校验
        const startDate = formData.startDate;
        const endDate = formData.graduateDate;

        if (endDate && startDate > endDate) {
            showError('endDate', '毕业日期不能早于入校日期');
            return false;
        }

        return true;
    }

    function showError(fieldId, message) {
        alert(fieldId + message);
    }

    // 收集教育经历数据并校验
    function collectAndValidateEducation() {
        // 只获取第一个教育经历区块
        const $firstBox = $('.news_expect_n_box').first();

        if ($firstBox.length === 0) {
            showError('eduname', '请添加教育经历');
            return false;
        }

        const formData = {
            school: $firstBox.find('input[name^="eduname"]').val().trim(),
            startDate: $firstBox.find('input[name^="edusdate"]').val().trim(),
            graduateDate: $firstBox.find('input[name^="eduedate"]').val().trim(),
            highestDegree: $firstBox.find('select[name^="education"]').val().trim(),
            major: $firstBox.find('input[name^="eduspec"]').val().trim()
        };

        // 校验教育经历
        if (!validateEducation(formData)) {
            return false;
        }
        // 存储到本地
        localStorage.setItem("EduDTO", JSON.stringify(formData));
        return true;
    }
</script>
</body>
</html>
