<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link th:href="@{/styles/index.css}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" th:href="@{/styles/css.css}" type="text/css" />
    <link th:href="@{/styles/microresume.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/js/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/layui/layui.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <title>普工招聘-PHPYUN人才招聘系统</title>
</head>

<body class="once_bg">
<div class="yun_new_top" th:insert="~{/commons/top}"></div>
<div class="yunheader_60" th:insert="~{/commons/header}"></div>
<div class="yun_content">
    <div class="current_Location png"> 您当前的位置：
        <a href="">首页</a> >
        <a href="">普工专区</a> > 发布简历
    </div>

    <form  method="post" id="subform" action="" class="layui-form">
        <div class="once_add_box">
            <div class="once_title">快速发布求职信息</div>
            <div class="once_add_cont">
                <div class="once_title_p"><i class="once_title_p_icon once_title_p_icon_zw"></i>个人信息</div>
                <div class="once_add_list"><span class="once_add_list_name"><i class="once_add_list_name_bt">*</i>姓名：</span>
                    <div class="once_add_list_text">
                        <input  type="text" value="" name="username" id="username" class="once_add_list_input"/>
                    </div>
                </div>

                <div class="once_add_list"><span class="once_add_list_name"><i class="once_add_list_name_bt">*</i>性别：</span>
                    <div class="once_add_list_text" style="position:relative">	 <!--      yun_info_sex_cur 控制他的状态-->
                        <input type="hidden" id="sex" name="sex" value="" />
                        <span class="yun_info_sex " id="sex1" onclick="checksex('1')"><i class="usericon_sex usericon_sex1"></i>男</span>
                        <span class="yun_info_sex " id="sex2" onclick="checksex('2')"><i class="usericon_sex usericon_sex2"></i>女</span>

                    </div>
                </div>
                <div class="once_add_list">
                    <span class="once_add_list_name"><i class="once_add_list_name_bt">*</i>联系手机：</span>
                    <div class="once_add_list_text">
                        <input type="text" name="mobile" id="mobile" value="" class="once_input_simple once_input_simple_w240" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"/>
                    </div>
                </div>

                <div class="once_add_list"><span class="once_add_list_name">
                    <i class="once_add_list_name_bt">*</i>工作年限：</span>
                    <div class="once_add_list_text">
                        <div class="tiny_exp_text" style="border:none;">
                        <select id="expid" name="exp">
                            <option value=''>请选择</option>
                            <option value='18' >应届毕业生</option>
                            <option value='19' >1年以上</option>
                            <option value='20' >2年以上</option>
                            <option value='21' >3年以上</option>
                            <option value='100' >4年以上</option>
                            <option value='22' >5年以上</option>
                            <option value='101' >6年以上</option>
                            <option value='23' >8年以上</option>
                            <option value='24' >10年以上</option>
                        </select>
                    </div>
                    </div>

                </div>
                <div class="once_add_list">
                    <span class="once_add_list_name">
                        <i class="once_add_list_name_bt">*</i>工作地区：
                    </span>
                    <div class="layui-input-inline">
                        <select id="provinceid" lay-filter="citys" name="provinceid">
                            <option value=''>请选择</option>
                            <option value="2" >北京</option>
                            <option value="27" >天津</option>
                            <option value="25" >上海</option>
                            <option value="32" >重庆</option>
                            <option value="16" >江苏</option>
                            <option value="3" >安徽</option>
                            <option value="6" >广东</option>
                            <option value="31" >浙江</option>
                            <option value="4" >福建</option>
                            <option value="18" >辽宁</option>
                            <option value="12" >黑龙江</option>
                            <option value="13" >湖北</option>
                            <option value="14" >湖南</option>
                            <option value="10" >河北</option>
                            <option value="11" >河南</option>
                            <option value="30" >云南</option>
                            <option value="5" >甘肃</option>
                            <option value="7" >广西</option>
                            <option value="8" >贵州</option>
                            <option value="9" >海南</option>
                            <option value="15" >吉林</option>
                            <option value="17" >江西</option>
                            <option value="26" >四川</option>
                            <option value="24" >陕西</option>
                            <option value="23" >山西</option>
                            <option value="22" >山东</option>
                            <option value="21" >青海</option>
                            <option value="20" >宁夏</option>
                            <option value="19" >内蒙古</option>
                            <option value="28" >西藏</option>
                            <option value="29" >新疆</option>
                            <option value="33" >香港</option>
                            <option value="34" >澳门</option>
                            <option value="35" >台湾</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select id="cityid" lay-filter="citys" name="cityid">
                            <option value=''>请选择</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select id="three_cityid" name="three_cityid">
                            <option value=''>请选择</option>
                        </select>
                    </div>

                </div>
                <div class="once_add_list"><span class="once_add_list_name"><i class="once_add_list_name_bt">*</i>想找工作：</span>
                    <div class="once_add_list_text">
                        <input type="text" id="job" name="job" value="" class="once_add_list_input "/>
                        <span class="once_fb_list_tip"> 如：服装厂操作工</span>
                    </div>
                </div>
                <div class="once_add_list"><span class="once_add_list_name"><i class="once_add_list_name_bt">*</i>自我介绍：</span> <div class="once_add_list_text">
                    <textarea id="production" name="production" class="once_simplew_textarea"placeholder="请输入你擅长的技能，例如：电机熟练工，能吃苦耐劳"></textarea>
                </div></div>

                <div class="once_add_list"><span class="once_add_list_name">&nbsp;</span>
                    <div class="once_add_list_text">
                        <input class="once_add_list_bth" type="button" value="发布信息" id="botton" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="hp_foot fl" th:insert="~{/commons/footer}"></div>
</body>
</html>