<div class="left_box">
    <ul class="left_nav_ul">
        <li class="left_nav_newcur">
				<span>
					<a th:href="@{/ecenter}" title="首页" class="new_com_nav_a"><i
                            class="com_left_icon com_left_icon1"></i>企业中心</a>
				</span>
        </li>
        <li class="">
                    <span>
                        <a th:href="@{/ecenter/job}" title="发布中的职位" class="new_com_nav_a"><i
                                class="com_left_icon com_left_icon2"></i>职位管理</a>
                    </span>
        </li>
        <li class="">
                    <span>
                        <a th:href="@{/ecenter/resume}" title="简历管理" class="new_com_nav_a"><i class="com_left_icon com_left_icon4"></i>简历管理</a>
                    </span>
        </li>
        <li class="">
                    <span>
                        <a href="" title="面试管理" class="new_com_nav_a"><i class="com_left_icon com_left_icon10"></i>面试管理</a>
                    </span>
        </li>

        <li class="">
                    <span>
                        <a href="" class="new_com_nav_a"><i class="com_left_icon com_left_icon7"></i>会员服务</a>
                    </span>
        </li>
        <li class="">
			        <span>
			            <a href="" class="new_com_nav_a"><i class="com_left_icon com_left_icon3"></i>人才库</a>
			        </span>
        </li>
        <li class="">
			        <span>
			            <a href="" class="new_com_nav_a"><i class="com_left_icon com_left_icon12"></i>招聘会</a>
			        </span>
        </li>
        <li class="">
                    <span>
                        <a th:href="@{/ecenter/info}" title="企业资料" class="new_com_nav_a"><i class="com_left_icon com_left_icon8"></i>企业资料</a>
                    </span>
        </li>
        <li class="">
                    <span>
                        <a href="" title="账号设置" class="new_com_nav_a"><i class="com_left_icon com_left_icon11"></i>账号设置</a>
                    </span>
        </li>
        <li class="more_box " style="position: relative; z-index: 100;"
            onmouseover="leftmoreShow('show')" onmouseout="leftmoreShow('hide')">
            <span><a title="更多服务" class="new_com_nav_a"><i
                    class="com_left_icon com_left_icon9"></i>更多服务</a></span>
            <div class="user_more" style="display: none;">

                <div class="user_more_list">
                    <span class="user_more_name">人才管理 &gt;</span>
                    <a href="" class="user_more_a">推送简历</a>
                    <a href="" class="user_more_a">人才搜索器</a>
                </div>
                <div class="user_more_list">
                    <span class="user_more_name">其他服务 &gt;</span>
                    <a href="" class="user_more_a">专题招聘</a>
                    <a href="" title="投诉记录" class="user_more_a">投诉记录</a>
                    <a href="" target="_blank" title="我的问答" class="user_more_a">我的问答</a>
                    <a href="" class="user_more_a">导航自定义</a>
                </div>
            </div>
        </li>
    </ul>
</div>