<div class="header">
    <div class="header_fixed">
        <div class="header-logo fltL">
            <a th:href="@{/}" target="_blank">
                <img th:src="@{/images/logo.png}" class="png">
            </a>
        </div>
        <div class="user_headerright">
            <a th:href="@{/}" target="_blank" title="返回网站首页" class="user_m_fanh">返回首页</a>
            <div class="yun_m_headermsg">
                <i class="yun_m_headermsg_icon"></i>通知中心
                <span class="yun_m_headermsg_n" id="tzmsgNum" style="display:none"></span>
                <div class="yun_m_headermsg_box" style="display:none">
                    <div class="yun_m_headermsg_list">
                        <a href="">职位申请
                            <em class="yun_m_headermsg_list_n" id="jobApplyNum"></em>
                        </a>
                    </div>
                    <div class="yun_m_headermsg_list">
                        <a href="">系统消息
                            <em class="yun_m_headermsg_list_n" id="sysmsgNum"></em>
                        </a>
                    </div>
                    <div class="yun_m_headermsg_list">
                        <a href="">求职咨询
                            <em class="yun_m_headermsg_list_n" id="jobAskNum"></em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_m_navright">
                <div class="yun_m_headertx">
                    <a href="" class="yun_m_headertxa">
                        <img src="" width="30" height="30">
                    </a>
                    <div class="yun_m_headertx_hi">张经理</div>
                    <div class="yun_m_header_info" style="display: none;">
                        <div class="user_infobox">
                            <div class="user_infobox_c">
                                <div class="user_infobox_zg">
                                    <span class="user_infobox_zg_n">张经理</span>
                                    <i class="user_infobox_cj"></i>
                                </div>
                                <div class="user_infobox_comname">
                                    某科技有限公司1<a href="" class="user_infobox_combj">编辑</a>
                                </div>
                            </div>
                        </div>
                        <div class="user_tc_tset">
                            <a href="" title="修改密码" class="user_set_bth"><i
                                    class="user_set_icon user_set_icon2"></i>修改密码</a>
                            <a href="" class="user_set_bth"><i class="user_set_icon user_set_icon3"></i>账号认证</a>
                        </div>
                        <div class="user_tcdl">
                            <a href="javascript:void(0)" title="退出登录" class="user_tcdlbth"
                               style="border:none;">退出登录</a>
                        </div>
                    </div>
                </div>
                <span class="user_headertel">招聘咨询电话：<span class="user_headertel_n">400-880-XXXX</span></span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>