<div class="yun_new_cont">
    <div class="yun_new_left">
        电话：400-880-XXXX
    </div>
    <div class="yun_new_right" id="login_head_div">
        <span class="yun_new_right_we">千里马人才招聘系统欢迎您！</span>
        <a href="" class="yun_new_right_wap">手机端</a>
        <span id="login_head_id">
            <div class="yun_header_af fr" id="logindiv">
                <span class="sss">您好：</span>
                <a id="top_account" th:href="@{/templates/ucenter}" style="color: red"></a>！
                <a th:href="@{/templates/ucenter}">进入用户中心&gt;&gt;</a>
                <a href="javascript:void(0)" onclick="">[安全退出]</a>
            </div>
            <div class="fr" id="nologindiv">
                <div class="yun_topLogin_cont">
                    <div class="yun_topLogin">
                        <a th:href="@{/login}">用户登录</a>
                    </div>
                    <div class="yun_topLogin yun_topreg">
                        <a th:href="@{/reg}">免费注册</a>
                    </div>
                </div>
            </div>
        </span>

    </div>
</div>