<div class="yun_m_leftsidebar_box">
    <ul class="yun_m_leftsidebar_list">
        <li class="yun_m_left_cur"><a th:href="@{/ucenter}" class="nava"><i
                class="left_navicon left_navicon_i1"></i><span>个人中心</span><b></b></a>
        </li>
        <li><a th:href="@{/ucenter/resume}" class="nava"><i
                class="left_navicon left_navicon_i2"></i><span>我的简历</span><b></b></a>
        </li>
        <li><a th:href="@{/ucenter/invite}" class="nava"><i
                class="left_navicon left_navicon_i4"></i><span>面试通知</span><b></b></a>
        </li>
        <li><a th:href="@{/ucenter/job}" class="nava"><i
                class="left_navicon left_navicon_i5"></i><span>申请的职位</span><b></b></a></li>
        <li><a th:href="@{/ucenter/look}" class="nava"><i
                class="left_navicon left_navicon_i6"></i><span>对我感兴趣</span><b></b></a>
        </li>
        <li><a th:href="@{/ucenter/favorite}" class="nava"><i
                class="left_navicon left_navicon_i7"></i><span>我的收藏</span><b></b></a></li>
    </ul>
</div>
<div class="left_wx_box">
    <div class="left_wx_box_tip">简历投递实时追踪</div>
    <dl class="left_wx_box_dl">
        <dt><img src="" width="150" height="150"></dt>
        <dd class="left_wx_box_tit">关注公众号</dd>
    </dl>
</div>